@model PizzaDelivery.ViewModel.ViewModels.Ordering.OrderResultVM
@{
    ViewData["Title"] = "OrderResult";
}

<h2>OrderResult</h2>

@if (Model.SuccessOrdered)
{
    <p>Успех</p>
    <p>@Model.Order.Number</p>
}
else
{
    <p>Неудача</p>
}