@model PizzaDelivery.ViewModel.ViewModels.Ordering.OrderResultVM
@{
    ViewData["Title"] = "OrderResult";
}

<h2>Результат заказа</h2>

@if (Model.SuccessOrdered)
{
    <p>Заказ успешно совершен, ожидайте звонка от оператора.</p>
    <p>Номер вашего заказа: @Model.Order.Number</p>
}
else
{
    <p>Прминосим свои извенения, но заказ не удалось совершить.</p>
}