@model PizzaDelivery.ViewModel.ViewModels.Ordering.ShoppingCartVM
@{
    ViewData["Title"] = "ShoppingCart";
}

<h2>ShoppingCart</h2>

@using (Html.BeginForm("GoToDelivery", "ShoppingCart", Model, FormMethod.Post))
{
    @Html.DisplayFor(x => x.Products, "/Views/Ordering/DisplayTemplates/Products.cshtml")
    
    @Html.DisplayNameFor(x => x.SumOrderPrice)
    @Html.DisplayFor(x => x.SumOrderPrice)

    <button class="btn btn-primary" type="submit">Доставка</button>
}