@{
    ViewData["Title"] = "Контакты";
}

<h2>Контакты</h2>
<div class="contact">
    <span>Телефон горячей линии: </span>
    <b>8–800–333–16–16</b>
</div>
<div class="contact">
    <span>Электронная почта: </span>
    <b>pizza_delivery@mail.ru</b>
</div>
<div class="contact">
    <span>Где мы находимся: </span>
    <b>Екатеринбург, ул.Рабочая, д.33</b>
    <div class="contact_image">
        <img class="adress" src="~/images/address.jpg">
    </div>
</div>