@model PizzaDelivery.ViewModel.ViewModels.Main.PizzaPage.PizzaPageVM
@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>

<a class="btn btn-primary" href="@Url.Action("Index", "ShoppingCart")">Корзина</a>

@Html.DisplayFor(x => x.PizzaList)