
@{
    ViewData["Title"] = "Личные данные";
}

<h2>OrderResult</h2>

<a class="btn btn-primary" href="@Url.Action("PersonalInfoPage", "PersonPage")">Личные данные</a>
<a class="btn btn-primary" href="@Url.Action("OrderHistoryPage", "PersonPage")">История заказов</a>