@model PizzaDelivery.ViewModel.ViewModels.PersonalPages.Client.LoginVM
@{
    ViewData["Title"] = "Вход";
}

@using (Html.BeginForm("Login", "EmployeeAuth", Model, FormMethod.Post))
{
    <table class="registration">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(x => x.Login)</td>
                <td>@Html.EditorFor(x => x.Login)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(x => x.Password)</td>
                <td>@Html.EditorFor(x => x.Password)</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Вход</button>
}